morning-news-ai-agent/workflow.json
{
  "name": "Sabah Haberleri",
  "nodes": [
    {
      "parameters": {
        "url": "https://webrazzi.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "79f8edec-8324-4b9e-9008-e7ccb898567c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.donanimhaber.com/rss/tum/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        144
      ],
      "id": "3dbf6332-d0a5-4941-b096-f9d2b2be137e",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "1aab847b-bce7-4073-a89d-655794036f29",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "6bedfab0-34ae-4694-b1b1-d68ca720e5b2",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Haber başlıklarını al ve aralarına \" || \" koyarak yan yana diz.\nconst birlesmisMetin = items.map(item => item.json.title).join(' || ');\n\nreturn [\n  {\n    json: {\n      haberler_toplu: birlesmisMetin\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "f04ca1b4-0501-4710-9238-b2f135f38e0d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Aşağıdaki teknoloji haberlerini bir bilgisayar mühendisliği öğrencisi için Türkçe, samimi ve teknik bir dille 3 madde halinde özetle. Her maddenin başına emoji koy. Haberler şunlar: {{ $json.haberler_toplu }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        0
      ],
      "id": "c1e25f05-2fe6-4d9a-81af-364ae8bf4484",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ldU3isikOsPeByKB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "971763329",
        "text": "=Günaydın Hakan! ☕ İşte bugünün raporu:\n{{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        0
      ],
      "id": "442a1292-69f9-4c7b-b7e2-c892bd6cae70",
      "name": "Send a text message",
      "webhookId": "57bd1cea-fe8e-402a-87b0-2f30fdeaab9d",
      "credentials": {
        "telegramApi": {
          "id": "PWtUDyfYzbq5u5WR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -16
      ],
      "id": "6dcf88a9-bc38-4a00-b96b-3041eeb6c26a",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3600932-5af1-446e-b166-17c1df13eb15",
  "meta": {
    "instanceId": "bcb72e030ac62626a86fecc8ea70883c5536a33a29144b86de732ea83ce76ccf"
  },
  "id": "UAAMJCz4PQu7d0190h2BZ",
  "tags": []
}
