bitcoin-takip-botu/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6916caa6-eb9c-441f-9264-9bea19caa81d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "971763329",
        "text": "=🚨 DİKKAT HAKAN! Bitcoin şu an {{ $json.bitcoin.usd }} Dolar oldu!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        0
      ],
      "id": "47b6a6b3-b77b-4561-b7a3-df6dbd07feda",
      "name": "Send a text message",
      "webhookId": "0d23d9fb-9c94-4b35-b119-b19573735fd4",
      "credentials": {
        "telegramApi": {
          "id": "PWtUDyfYzbq5u5WR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e41d38b1-f8c7-4762-82b2-ec47236f51bc",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7dcb0413-44b6-453d-8dc6-dae928649502",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcb72e030ac62626a86fecc8ea70883c5536a33a29144b86de732ea83ce76ccf"
  },
  "id": "GCp5CLIlLb9Po1t6cu8jl",
  "tags": []
}